# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.db
*.sqlite3
.pytest_cache/
*.egg-info/

# Node
node_modules/
dist/
.DS_Store

# Stripe
stripe.exe
stripe_1.40.0_windows_x86_64/

# IDE
.vscode/
.idea/